<gpesystem>
<launchermodule>
   <gpecontroller loadOnStart="true" addToStage="false">[moduleAssetPath]/GPE_Flash/framework/GPELauncher/bin/GPEController.swf</gpecontroller>
   <rgsservices loadOnStart="true" addToStage="false">[moduleAssetPath]/GPE_Flash/framework/GPELauncher/bin/RGSServices.swf</rgsservices>
   <jackpotmeterservice loadOnStart="true" addToStage="false">[moduleAssetPath]/GPE_Flash/framework/GPELauncher/bin/JackpotMeterService.swf</jackpotmeterservice>
   <playerawarenessservice loadOnStart="true" addToStage="false">[moduleAssetPath]/GPE_Flash/framework/GPELauncher/bin/PlayerAwarenessService.swf</playerawarenessservice>
   <thirdpartygateway loadOnStart="true" addToStage="false">[moduleAssetPath]/GPE_Flash/framework/GPELauncher/bin/ThirdPartyGateway.swf</thirdpartygateway>
   <exceptionhandler loadOnStart="true" addToStage="false" >[moduleAssetPath]/GPE_Flash/framework/GPELauncher/bin/GPEExceptionHandler.swf</exceptionhandler>
   <cashierservices loadOnStart="true" addToStage="false" >[moduleAssetPath]/GPE_Flash/framework/GPELauncher/bin/CashierServices.swf</cashierservices>

</launchermodule>

<gpecontrollermodule>

</gpecontrollermodule>

<!--<dependency>..\..\..\GPE_FlashLibrary\src\com\igt\gpe2\modules\DependencyClasses\bin\DependencyClasses.swf</dependency>-->

<gameconfigxml>[assetPath]/[studio]/games/[game]/gpeGameConfig.xml</gameconfigxml>
<gameversionconfigxml>[assetPath]/[studio]/games/[game]/version.xml</gameversionconfigxml>
<externalinterface>on</externalinterface>
<logger level="error">on</logger>
</gpesystem>
