RewriteEngine On

RewriteRule play$ /core/WebEngine.php?game=transformers_battle_for_cybertron|||igt&action=spin
RewriteRule clientconfig$ /core/WebEngine.php?game=transformers_battle_for_cybertron|||igt&action=config
RewriteRule initstate$ /core/WebEngine.php?game=transformers_battle_for_cybertron|||igt&action=init
RewriteRule paytable$ /core/WebEngine.php?game=transformers_battle_for_cybertron|||igt&action=paytable
