RewriteEngine On

RewriteRule play$ /core/WebEngine.php?game=mayan_riches|||igt&action=spin
RewriteRule clientconfig$ /core/WebEngine.php?game=mayan_riches|||igt&action=config
RewriteRule initstate$ /core/WebEngine.php?game=mayan_riches|||igt&action=init
RewriteRule paytable$ /core/WebEngine.php?game=mayan_riches|||igt&action=paytable
