RewriteEngine On


RewriteRule clientconfig /core/WebEngine.php?game=da_vinci_dual_play|||igt&action=config
RewriteRule initstate$ /core/WebEngine.php?game=da_vinci_dual_play|||igt&action=init
RewriteRule paytable$ /core/WebEngine.php?game=da_vinci_dual_play|||igt&action=paytable
RewriteRule play$ /core/WebEngine.php?game=da_vinci_dual_play|||igt&action=spin
